.dashboard__header {
  display: flex;
  justify-content: space-between;
  background: lightblue;
  padding: 10px;
  margin: 5px;
}

.header__nav span {
  margin-left: 15px;
}

.container {
  display: flex;   
}

.sidebar {
  width: auto;
  background: lightgray;
  padding: 10px;
  margin: 5px;
  height: 100px;
}

.sidebar ul {
  list-style: none;   
  padding: 0;         
}


.header__nav a {
  color: black;          
  text-decoration: none;  
  padding: 2px 5px;
}

.header__nav a:hover {
  text-decoration: underline;
}
.main {
  flex: 1;
  padding: 10px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  min-height: 100px;
  justify-content: center;
}

.card {
  width: 250px;
  background: pink;
  margin: 10px;
  padding: 10px;
  overflow-y: auto;
  text-align: center;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

@media(max-width:768px){
  .dashboard{
    flex-direction: column;
  }
  .sidebar{
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .header{
    flex-direction: column;
    gap: 15px;
  }
  .header_nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
   border-top: 1px solid rgba(0,0,0,0.2);
   padding-top: 15px;

  }
  .header_nav span{
    margin-left: 0;

  }
  .cards{
    flex-direction: column;
  }
}